body{

    background-color: white;

}

.container {
    background-color: white;
    position: relative;
    min-height: 97vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://seeklogo.com/images/B/brasao-da-republica-do-brasil-logo-F668D19105-seeklogo.com.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.textcontainer{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    z-index: 3;

}
form{

    display: flex;
    flex-direction: column;

}

button{

    background-color: rgb(35, 32, 218);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: solid 3px rgb(162, 162, 162);

}