body{

    background-color: white;

}

button{

    background-color: transparent;
    border-width: 0;

}

.menucontainer{

    height: 45vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

}

.container {
    background-color: white;
    position: relative;
    min-height: 97vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://seeklogo.com/images/B/brasao-da-republica-do-brasil-logo-F668D19105-seeklogo.com.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
    z-index: 1;
}

.iconemenu{

    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    background-color: rgba(235, 235, 235, 0.71);
    border: 5px solid grey;
    border-radius: 10px;

}

.imgmenu{

    max-width: 100%;
    max-height: 160px;
    filter: grayscale(100%);

}

.textmenu{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 15%;

}

a{

    text-decoration: none;
    color: black;

}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.form-container form{

    width: 20vw;
    height: 30vh;
    padding: 20px;
    border: grey 4px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 213, 213);
    justify-content: space-around;

}

input{

    font-size: 1.5em;
    padding: 15px 20px;
    border-radius: 10px;

}

.overlay-active {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.btn{

    height: 3.5em;
    background: rgb(215, 218, 32);
    border: gray 3px solid;
    color: white;

}