@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container{

    min-height: 97vh;
    width: 100%;

}

.medio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.negrito{

    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;

}

.cadastro{

    background: rgb(227, 227, 227);
    border: 2px solid black;
    border-radius: 13px;
    display: flex;
    width: 296px;
    flex-direction: column;
    padding: 30px 40px 0px 40px;

}



h1{

    color: rgb(43, 171, 7);

}

label{

    margin-left: 5px;
    margin-bottom: 3px;

}

input{

    margin-bottom: 50px;
    height: 40px;
    padding-inline-start: 15px;
    border-radius: 13px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

}

input:focus::placeholder{

    opacity: 0;

}

input:focus {
    border: rgb(215, 218, 32) 3px solid;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.btn{

    height: 3.5em;
    background: rgb(215, 218, 32);
    border: gray 3px solid;
    color: white;

}

body{

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    padding-block: 40px;

}

.search{

    width: 100%;
    height: 50px;
    font-size: 1.5em;

}

.search-container{

    display: flex;
    width: 40%;

}
.subsrc{

    background: transparent;
    border: 0;

}

a button{

    background-color: rgb(35, 32, 218);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: solid 3px rgb(162, 162, 162);

}

table tr:nth-child(even){

    background-color: rgb(230, 230, 230);

}